// Color scheme variables

// Main content
$color-main: #0f1214 !default;

// Secondary content
$global-muted-color: #7a838a !default;

// Accent color
$global-primary-background: $color-main !default;

// Neon colors
$frosted-blueberries: #6273fe;
$neon-hyacinth: #9a43fa;
$plum: #b345dd;
$fuscia: #cc47c0;
$foxtrot: #fe4a85;

// Link and botton hover
$color-hover: #000 !default;

// Standard UIkit
//$global-muted-background: ;
$global-border: #c4c7ca !default;

// Global
$global-font-family: system-ui !default;
//$global-link-color: $global-muted-color !default;
$global-link-color: $neon-hyacinth !default;
$global-link-hover-color: $foxtrot !default;

$global-xxlarge-font-size: 1.875rem !default;
$global-xlarge-font-size: 1.625rem !default;
$global-large-font-size: 1.375rem !default;
$global-medium-font-size: 1.125rem !default;
$global-small-font-size: 0.875rem !default;

// Base
$base-body-color: $color-main !default;
$base-heading-color: $color-main !default;
$link-muted-hover-color: $color-main !default;
$button-primary-hover-background: $color-hover !default;
$base-hr-border: lighten($global-border, 13%) !default;
$text-lead-font-size: 1.125rem !default;
$base-heading-font-weight: bold !default;
$base-heading-margin-top: 50px !default;
// $base-body-font-weight: 300;
$base-h2-line-height: 1.4 !default;
$base-link-hover-text-decoration: underline !default;
// $base-h1-font-size: $global-xxlarge-font-size !default;
// $base-h2-font-size: $global-xlarge-font-size !default;
// $base-h3-font-size: $global-large-font-size !default;
// $base-h4-font-size: $global-medium-font-size !default;
// $base-h5-font-size: $global-font-size !default;
// $base-h6-font-size: $global-small-font-size !default;

// Navbar
$navbar-background: #fff !default;
$navbar-nav-item-color: $global-muted-color !default;
$navbar-nav-item-hover-color: $color-main !default;
$navbar-nav-item-active-color: $color-main !default;
$navbar-toggle-color: $global-muted-color !default;
$navbar-toggle-hover-color: $color-main !default;

// Subnav
$subnav-item-color: $global-muted-color !default;
$subnav-item-hover-color: $color-main !default;

// Pagination links
$pagination-item-color: $color-main !default;
$pagination-item-hover-color: $color-main !default;

$article-meta-font-size: 	0.8125rem !default;
$article-meta-line-height: 1.3 !default;

$container-max-width: 1100px !default;
$container-small-max-width: 800px !default;

$card-small-body-padding-horizontal: 25px !default;
$card-small-body-padding-vertical: 25px !default;

$article-title-line-height: 1.4 !default;
$article-title-font-size: 1.875rem !default;
$offcanvas-bar-color-mode: dark !default;
$offcanvas-bar-background: #fff !default;

$heading-hero-font-size: 2.375rem !default;
$heading-hero-line-height: 1.3 !default;
$heading-hero-font-size-s: 2.9375rem !default;
$heading-hero-line-height-s: 1.3 !default;
$heading-hero-font-size-m: 3.625rem !default;
$heading-hero-line-height-m: 1.4 !default;

$navbar-nav-item-text-transform: none !default;

$subnav-item-text-transform: none !default;

$search-default-border: darken($global-border, 15%) !default;
