/**
 * Syntax highlighting styles
 */

.highlight, .highlighter-rouge {
    background-color: #F7F8FA;
    color: #5A6575;
    border: none;
}

.highlight {
  .lineno { color: #B1B8C4; }
  .c { color: #B1B8C4; }
  .err { color: #5A6575; }
  .g { color: #5A6575; }
  .k { color: #25BEA1; }
  .l { color: #5A6575; }
  .n { color: #5A6575; }
  .o { color: #25BEA1; }
  .x { color: #FBBC09; }
  .p { color: #25BEA1; }
  .cm { color: #B1B8C4; }
  .cp { color: #25BEA1; }
  .c1 { color: #B1B8C4; }
  .cs { color: #25BEA1; }
  .gd { color: #E56134; }
  .ge { color: #5A6575; font-style: italic; }
  .gr { color: #9961C9; }
  .gh { color: #FBBC09; }
  .gi { color: #25BEA1; }
  .go { color: #5A6575; }
  .gp { color: #FBBC09; }
  .gs { color: #5A6575; font-weight: bold; }
  .gu { color: #FBBC09; }
  .gt { color: #5A6575; }
  .kc { color: #FBBC09; }
  .kd { color: #11A0F3; }
  .kn { color: #25BEA1; }
  .kp { color: #25BEA1; }
  .kr { color: #11A0F3; }
  .kt { color: #9961C9; }
  .ld { color: #5A6575; }
  .m { color: #E56134; }
  .s { color: #11A0F3; }
  .na { color: #5A6575; }
  .nb { color: #5A6575; }
  .nc { color: #11A0F3; }
  .no { color: #E56134; }
  .nd { color: #11A0F3; }
  .ni { color: #FBBC09; }
  .ne { color: #FBBC09; }
  .nf { color: #11A0F3; }
  .nl { color: #5A6575; }
  .nn { color: #5A6575; }
  .nx { color: #5A6575; }
  .py { color: #5A6575; }
  .nt { color: #11A0F3; }
  .nv { color: #5A6575; }
  .ow { color: #25BEA1; }
  .w { color: #5A6575; }
  .mf { color: #E56134; }
  .mh { color: #E56134; }
  .mi { color: #E56134; }
  .mo { color: #E56134; }
  .sb { color: #B1B8C4; }
  .sc { color: #E56134; }
  .sd { color: #5A6575; }
  .s2 { color: #E56134; }
  .se { color: #FBBC09; }
  .sh { color: #5A6575; }
  .si { color: #E56134; }
  .sx { color: #E56134; }
  .sr { color: #9961C9; }
  .s1 { color: #E56134; }
  .ss { color: #E56134; }
  .bp { color: #11A0F3; }
  .vc { color: #11A0F3; }
  .vg { color: #11A0F3; }
  .vi { color: #11A0F3; }
  .il { color: #E56134; }
}
