/**
 * Syntax highlighting styles
 */

@import "../theme/variables.scss";

$hl-dark-grey: #5a6575;
$hl-light-grey: #b1b8c4;

.highlight, .highlighter-rouge {
    background-color: #F7F8FA;
    color: $hl-dark-grey;
    border: none;
}

.highlight {
  .lineno { color: $hl-light-grey; }
  .c { color: $hl-light-grey; }
  .err { color: $hl-dark-grey; }
  .g { color: $hl-dark-grey; }
  .k { color: $plum; }
  .l { color: $hl-dark-grey; }
  .n { color: $hl-dark-grey; }
  .o { color: $plum; }
  .x { color: $foxtrot; }
  .p { color: $plum; }
  .cm { color: $hl-light-grey; }
  .cp { color: $plum; }
  .c1 { color: $hl-light-grey; }
  .cs { color: $plum; }
  .gd { color: $neon-hyacinth; }
  .ge { color: $hl-dark-grey; font-style: italic; }
  .gr { color: $fuscia; }
  .gh { color: $foxtrot; }
  .gi { color: $plum; }
  .go { color: $hl-dark-grey; }
  .gp { color: $foxtrot; }
  .gs { color: $hl-dark-grey; font-weight: bold; }
  .gu { color: $foxtrot; }
  .gt { color: $hl-dark-grey; }
  .kc { color: $foxtrot; }
  .kd { color: $frosted-blueberries; }
  .kn { color: $plum; }
  .kp { color: $plum; }
  .kr { color: $frosted-blueberries; }
  .kt { color: $fuscia; }
  .ld { color: $hl-dark-grey; }
  .m { color: $neon-hyacinth; }
  .s { color: $frosted-blueberries; }
  .na { color: $hl-dark-grey; }
  .nb { color: $hl-dark-grey; }
  .nc { color: $frosted-blueberries; }
  .no { color: $neon-hyacinth; }
  .nd { color: $frosted-blueberries; }
  .ni { color: $foxtrot; }
  .ne { color: $foxtrot; }
  .nf { color: $frosted-blueberries; }
  .nl { color: $hl-dark-grey; }
  .nn { color: $hl-dark-grey; }
  .nx { color: $hl-dark-grey; }
  .py { color: $hl-dark-grey; }
  .nt { color: $frosted-blueberries; }
  .nv { color: $hl-dark-grey; }
  .ow { color: $plum; }
  .w { color: $hl-dark-grey; }
  .mf { color: $neon-hyacinth; }
  .mh { color: $neon-hyacinth; }
  .mi { color: $neon-hyacinth; }
  .mo { color: $neon-hyacinth; }
  .sb { color: $hl-light-grey; }
  .sc { color: $neon-hyacinth; }
  .sd { color: $hl-dark-grey; }
  .s2 { color: $neon-hyacinth; }
  .se { color: $foxtrot; }
  .sh { color: $hl-dark-grey; }
  .si { color: $neon-hyacinth; }
  .sx { color: $neon-hyacinth; }
  .sr { color: $fuscia; }
  .s1 { color: $neon-hyacinth; }
  .ss { color: $neon-hyacinth; }
  .bp { color: $frosted-blueberries; }
  .vc { color: $frosted-blueberries; }
  .vg { color: $frosted-blueberries; }
  .vi { color: $frosted-blueberries; }
  .il { color: $neon-hyacinth; }
}
